* {
  font-family: IRANSansBold, sans-serif !important;
}

@media screen and (max-width: 750px) {
  h1 {
    line-height: 118.19%;
    margin-bottom: 5vw;
  }

  h3 {
    font-family: IRANSansBold, sans-serif !important;

    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 4vw;
  }
  p {
    font-size: 4vw;
    line-height: 4.5vw;
  }
}
