@media screen and (max-width: 750px) {
  #faq {
    background-image: url('../../assets/phone/FAQ.svg');
    height: 150vw;
  }

  .header > h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 11vw;
    line-height: 118.19%;

    letter-spacing: 0.015em;

    background: linear-gradient(
      90deg,
      #002b99 0%,
      #8000ff 60.42%,
      #f300f8 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .question-container {
    direction: rtl;
    width: 100%;
    padding: 0 9vw;
    margin-right: 0;
  }

  details {
    margin-top: 2.25vw;
  }

  summary {
    font-family: 'IRANSans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 3.5vw;
    line-height: 118.19%;
    text-align: justify;
    text-transform: uppercase;
    border-right: 0.6vw solid black;
    padding: 1vw;
  }

  p {
    font-style: normal;
    font-weight: 200;
    font-size: 3.5vw;
    line-height: 118.19%;
    /* or 38px */
    padding: 2vw;

    text-align: justify;
  }
}
